/*
Syntax error: Invalid CSS after "skskskskskk": expected "{", was ""
        on line 232 of /Users/pratheepv/freshdesk/sample_rails_app/public/src/custom.scss

Backtrace:
/Users/pratheepv/freshdesk/sample_rails_app/public/src/custom.scss:232
/Users/pratheepv/.rvm/gems/ruby-1.9.3-p392@sample_project/gems/sass-3.2.1/lib/sass/scss/parser.rb:1130:in `expected'
/Users/pratheepv/.rvm/gems/ruby-1.9.3-p392@sample_project/gems/sass-3.2.1/lib/sass/scss/parser.rb:1066:in `expected'
/Users/pratheepv/.rvm/gems/ruby-1.9.3-p392@sample_project/gems/sass-3.2.1/lib/sass/scss/parser.rb:1061:in `tok!'
/Users/pratheepv/.rvm/gems/ruby-1.9.3-p392@sample_project/gems/sass-3.2.1/lib/sass/scss/parser.rb:517:in `block'
/Users/pratheepv/.rvm/gems/ruby-1.9.3-p392@sample_project/gems/sass-3.2.1/lib/sass/scss/parser.rb:512:in `ruleset'
/Users/pratheepv/.rvm/gems/ruby-1.9.3-p392@sample_project/gems/sass-3.2.1/lib/sass/scss/parser.rb:536:in `block_child'
/Users/pratheepv/.rvm/gems/ruby-1.9.3-p392@sample_project/gems/sass-3.2.1/lib/sass/scss/parser.rb:529:in `block_contents'
/Users/pratheepv/.rvm/gems/ruby-1.9.3-p392@sample_project/gems/sass-3.2.1/lib/sass/scss/parser.rb:70:in `stylesheet'
/Users/pratheepv/.rvm/gems/ruby-1.9.3-p392@sample_project/gems/sass-3.2.1/lib/sass/scss/parser.rb:27:in `parse'
/Users/pratheepv/.rvm/gems/ruby-1.9.3-p392@sample_project/gems/sass-3.2.1/lib/sass/engine.rb:342:in `_to_tree'
/Users/pratheepv/.rvm/gems/ruby-1.9.3-p392@sample_project/gems/sass-3.2.1/lib/sass/engine.rb:315:in `_render'
/Users/pratheepv/.rvm/gems/ruby-1.9.3-p392@sample_project/gems/sass-3.2.1/lib/sass/engine.rb:263:in `block in render'
/Users/pratheepv/.rvm/gems/ruby-1.9.3-p392@sample_project/gems/sass-3.2.1/lib/sass/util.rb:371:in `silence_sass_warnings'
/Users/pratheepv/.rvm/gems/ruby-1.9.3-p392@sample_project/gems/sass-3.2.1/lib/sass/engine.rb:263:in `render'
/Users/pratheepv/.rvm/gems/ruby-1.9.3-p392@sample_project/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/Users/pratheepv/.rvm/gems/ruby-1.9.3-p392@sample_project/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/pratheepv/.rvm/gems/ruby-1.9.3-p392@sample_project/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `block in compile'
/Users/pratheepv/.rvm/gems/ruby-1.9.3-p392@sample_project/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
/Users/pratheepv/.rvm/gems/ruby-1.9.3-p392@sample_project/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
/Users/pratheepv/.rvm/gems/ruby-1.9.3-p392@sample_project/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/Users/pratheepv/.rvm/gems/ruby-1.9.3-p392@sample_project/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/Users/pratheepv/.rvm/gems/ruby-1.9.3-p392@sample_project/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
/Users/pratheepv/.rvm/gems/ruby-1.9.3-p392@sample_project/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `block in run'
/Users/pratheepv/.rvm/gems/ruby-1.9.3-p392@sample_project/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/pratheepv/.rvm/gems/ruby-1.9.3-p392@sample_project/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/Users/pratheepv/.rvm/gems/ruby-1.9.3-p392@sample_project/gems/compass-0.12.2/lib/compass/commands/update_project.rb:45:in `perform'
/Users/pratheepv/.rvm/gems/ruby-1.9.3-p392@sample_project/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
/Users/pratheepv/.rvm/gems/ruby-1.9.3-p392@sample_project/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
/Users/pratheepv/.rvm/gems/ruby-1.9.3-p392@sample_project/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/pratheepv/.rvm/gems/ruby-1.9.3-p392@sample_project/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/pratheepv/.rvm/gems/ruby-1.9.3-p392@sample_project/gems/compass-0.12.2/bin/compass:30:in `block in <top (required)>'
/Users/pratheepv/.rvm/gems/ruby-1.9.3-p392@sample_project/gems/compass-0.12.2/bin/compass:44:in `call'
/Users/pratheepv/.rvm/gems/ruby-1.9.3-p392@sample_project/gems/compass-0.12.2/bin/compass:44:in `<top (required)>'
/Users/pratheepv/.rvm/gems/ruby-1.9.3-p392@sample_project/bin/compass:23:in `load'
/Users/pratheepv/.rvm/gems/ruby-1.9.3-p392@sample_project/bin/compass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"skskskskskk\": expected \"{\", was \"\"\A         on line 232 of /Users/pratheepv/freshdesk/sample_rails_app/public/src/custom.scss"; }
